{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Previous Practice Papers</h2>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="/static/papers/ssc_gk_2023.pdf" target="_blank">SSC GK Practice Paper – 2023</a>
    </li>
    <li class="list-group-item">
      <a href="/static/papers/ssc_gk_2022.pdf" target="_blank">SSC GK Practice Paper – 2022</a>
    </li>
    <li class="list-group-item">
      <a href="/static/papers/ssc_current_affairs.pdf" target="_blank">Current Affairs Paper</a>
    </li>
  </ul>
</div>
{% endblock %}
